@import "../../../styles/DialogTheme.css";

.dialog-theme.course-dialog-root {
    color: #e5e7eb;
}

.dialog-theme.course-dialog-root .MuiOutlinedInput-root,
.dialog-theme.course-dialog-root .MuiInputBase-input {
    color: #e5e7eb;
}

.dialog-theme.course-dialog-root input[type="date"],
.dialog-theme.course-dialog-root input[type="time"] {
    color: #e5e7eb;
}

.dialog-theme.course-dialog-root .MuiInputLabel-root {
    color: rgba(156, 163, 175, 0.9);
}

.dialog-theme.course-dialog-root .MuiSvgIcon-root {
    color: rgba(156, 163, 175, 0.9);
}

.dialog-theme.course-dialog-root .MuiInputLabel-root.Mui-focused {
    color: #93c5fd;
}

.uiFormHelperText-root,
.MuiFormHelperText-sizeMedium,
.MuiFormHelperText-contained,
.css-er619e-MuiFormHelperText-root {
    color: #e5e7eb !important;
}